@model RMS_FRONTEND.Data.Finance.Inventory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GUID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GUID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InventoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
