@model RMS_FRONTEND.Data.Finance.Billing

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BillingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
